# Settings secret key
SECRET_KEY="django-insecure-xg7fuel0nsv^^&4ha5f*2r&f#zr&^tihfrilly=^pbdmlekp&a"

# Docker DB
DB_ENGINE=django.db.backends.postgresql
DB_NAME=postgres
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
DB_HOST=db
DB_PORT=5432
