version: '3.3'

volumes:
  towtruck_pg_data:
  static:

services:
  towtruck_db:
    image: postgres:13
    env_file: .env
    volumes:
      - towtruck_pg_data:/var/lib/postgresql/data

  backend:
    build:
      context: ../backend/
      dockerfile: Dockerfile
    env_file: .env
    volumes:
      - static:/backend_static
    depends_on:
      - towtruck_db
  
  frontend:
    image: aleksentcev/tte_frontend:latest
    env_file: .env
    command: cp -r /app/build/. /frontend_static/
    volumes:
      - static:/frontend_static

  nginx:
    image: nginx:1.19.3
    env_file: .env
    ports:
      - "8000:80"
    volumes:
      - ./nginx.conf:/etc/nginx/conf.d/default.conf
      - static:/staticfiles/
